h4 {
  font-family: sans-serif;
  color: pink;
  font-size: 3em;
  margin: 0;
  -webkit-text-stroke: 2px darkred;
}
h2 {
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}

body {
  background-image: url("img/pizza2.png");
}
#pizzaPrice{
  font-family: sans-serif;
  color: pink;
  font-size: 3em;
  margin: 0;
  -webkit-text-stroke: 2px red;
}
.payUp {
  display: none;
}
.well{
  background-color: #d277ff;
}
.jumbotron {
  background-image: url("img/pizza.png");
  text-align: center;
  font-family: sans-serif;
  color: pink;
  font-size: 3em;
  margin: 0;
  -webkit-text-stroke: 2px #27263f;
{
